    {% extends "learning_logs/base.html" %}
    {% load bootstrap5 %}
    {% block content %}
    <div class="container-fluid bg-dark row m-0">
       <div class="mx-auto text-center">
        <h4 class="display-4 strong bg-dark text-white pb-5 ">
          My Topics
        </h4>
       </div>
       <div class="row">

           {% for topic in topics %}
           
           
                       
                       <div class="text-center  ">
                        {% buttons %}
                        <button name="submit" class="btn btn-dark btn-lg">
                            <strong>
                      <a href="{%url 'learning_logs:Topic' topic.id%} " class="text-decoration-none text-white pull-left ">
                        <div class="d-inline">

                            {{topic}}
                        </div>
                       </a>
                      </strong>
                      </button>
                      {% endbuttons %}
                    </div>     
                    
            
            {% empty %}
            
            <div class="container-fluid bg-dark">
                <div class="mx-auto text-center">
                    <h6 class="display-6 strong bg-dark text-white pb-5 ">
                        No Topics have been added yet
                    </h6>
                </div>
                {% endfor %}
            </div>
  <div class="row">
    <div class="pt-5 text-center">
        {% buttons %}
        <button name="submit" class="btn btn-dark btn-lg">
            <strong>
      <a href= "{% url 'learning_logs:New_Topic' %}" class="text-decoration-none text-white" >Add Topic</a>
      </strong>
      </button>
      {% endbuttons %}

      </div>
    </div>
    
</div>
    {% endblock content %}
    
