{% extends "learning_logs\base.html" %}
{% block content %}

{% load bootstrap5 %}


<div class="container-fluid bg-dark">
    <div class="row text-center ">
        <p class=" m-0 p-0">
            
                <h4 class="display-4 bg-dark text-white pb-5">
                 Add Topic
                </h4>
           
        </p>
    </div>



<form action="{% url 'learning_logs:New_Topic' %}" method='post' class="form">
    {% csrf_token %}
   {% bootstrap_form form %}

   <div class="pt-5 text-center">
    {% buttons %}
<button name = "Submit" class="btn btn-light text-dark btn-lg">Add Topic</button>
{% endbuttons %}
</div>
</form>


</div>
{% endblock content %}